/*
 CSS custom styles
 Made by w0rmr1d3r
*/

#custom-main-container {
    padding-top: 50px;
}

#custom-song-given-div {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

h1 {
    font-family: Calibri;
}

body { 
    padding-top: 70px; 
}