#custom-main-container {
	padding-top: 100px;
}

#custom-song-given-div {
	width: 300px;
    height: 300px;

	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#custom-footer-div {
    background-color: #EEEDEB;
}

h1 {
	font-family: Calibri;
}