<h1>Upload a file here!</h1>
<div id="custom-upload-form-div">
	<form class="form-horizontal">

        <div class="row">
            <div class="input-group col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
                <span class="input-group-addon" id="title-addon">
                    <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="Song title" aria-describedby="title-addon" name="song-title-input" id="song-title-input" required="true">
            </div>
        </div>
		
        <br>

        <div class="row">
            <div class="input-group col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
            <span class="input-group-addon" id="artist-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            <input type="text" class="form-control" placeholder="Artist" aria-describedby="artist-addon" name="artist-input" id="artist-input">
        </div>
        </div>
        
        <br>

        <div class="row">
            <div class="input-group col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
                <span class="input-group-addon" id="album-addon">
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="Album" aria-describedby="album-addon" name="album-input" id="album-input">
            </div>
        </div>
        
        <br>

        <div class="row">
            <div class="input-group col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
                <span class="input-group-addon" id="category-addon">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" placeholder="Category" aria-describedby="category-addon" name="category-input" id="category-input">
            </div>   
        </div>

        <br>

        <div class="row">
            <div class="input-group col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
                <input type="file" name="file-input" id="file-input" required="true">
            </div>
        </div>
        

        <a onclick="uploadSong()" href="#" class="btn btn-primary btn-lg" title="Upload">
        	<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
        </a>

	</form>
</div>
